.weatherDataCont{
  background: blue;
  width: 400px;
  height: 100px;
  line-height: 100px;
}

.weatherTemperatureCont{
  background: yellow;
  width: 60%;
  display: inline-block;
}

.weatherExtraInfoCont{
  background: red;
  width: 40%;
  display: inline-block;
}
